<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="css/style.css" />
    <title>takeout</title>
</head>
<body>

    <h1>See All Submitted Entries</h1>
    <ul>
        <% for(let i=0; i <allentries.length; i++) {%>
            <li>
                <a href="/entries/<%=allentries[i]._id%>"><%=allentries[i].title%></a>
            </li>
           
           
            <br><br>
        <% } %>
        
    </ul>
    
        
</body>
</html>