<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="css/style.css" />
    <title>takeout</title>
</head>
<body>

    <h1>takeout</h1>
    <nav>
    <a href="/employee/signup">Sign Up</a>
    <a href="/employee/login">Log In</a> 
    <a href ="/entries/all"> View All Entries</a>  
    </nav> 
</body>
</html>