<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type ="text/css" href="css/style.css" />
    <title>takeout</title>
</head>
<body>
<nav>
    <a href="/employee/signup">Sign Up</a>
    <a href="/employee/login">Log In</a>
    <a href ="/entries/all"> Explore</a> 
   </nav>
       
    <h1>takeout</h1>
    <h2>take·out /ˈtākˌout/ remove; drain; 
        empty; clear out; clean out; 
        clear; finish; extricate; 
        lift out; pull out; </h2>

    <ul id="notes">
    
    <div class="words">
    <h1>What is a Microagression?</h1>
    <p>A microagression is a term used for brief and commonplace verbal, 
        behavioural, or environmental indignities, whether intentional or unintentional, 
        that communicate hostile, derogatory, or negative prejudicial slights and insults toward any group, 
        particularly culturally marginalized groups.</p>
    </div>
    <div class="words">
    <h1>About Us</h1> 
    <p>This platform was created for employees who experience microaggressions in the workplace and provide an outlet for them to express themselves. 
    These small and often hurtful dialogues can affect an employee’s productivity as well as their mental health. 
    We aim to aid organizations diversity and inclusion reform by providing insight on experiences that marginalized groups have within the corporate world. 
    Employees have the option remain anonymous and post their microaggressions as well as select their employer. 
    Members of the community share experiences without fear of retailition. Employers can gather the entries surrounding their 
    organizations which in hopes push change within their organizations. </p>
    </div>
    </ul>
   
</body>
</html>