<!DOCTYPE html>
<html>
    <head></head>
    <body>
        <h1>Safe Space for Expression</h1>
        <h2>Write Out Your Experience</h2>

        <form action= "/entries" method = "POST">
            Title:<input type="text" name="title" />
            Entry: <input type = "text" name = "body" />
            Employee: <input type="text" name ="employee" />
            Company: <input type = "text" name="company"/>
            <input type = "submit" value = "Sumbit Entry" />
        </form>
        <p>Expression is the key to unlock change, writing out your experience will not have
            a negative effect on your position or future career with your company
        </p>
    </body>
</html>